<div id='header'>
	<div class='column bio'>
		<% if (portfolioDescription!='') { %>
			<%- portfolioDescription %></p>
			<% } else{ %>
			<%- description %>
			<% } %>
	</div>
	<div class='column follow'>
		<h3>On the site</h3>
		<ul>
		<a href='/portfolio/'><li>Portfolio</li></a>
		<a href='/portfolio/animation/'><li>&nbsp;• Animation</li></a>
		<a href='/portfolio/illustration'><li>&nbsp;• Illustration</li></a>
		<a href='/blog/'><li>Blog</li></a>
		</ul>
	</div>
</div>