<style type="text/css">
</style>

<div id='header'>
	<div class='column bio'>
		<% if (portfolioDescription!='') { %>
			<%- portfolioDescription %></p>
			<% } else{ %>
			<%- description %>
			<% } %>
	</div><div class='column follow'>
		<h3><a href='/portfolio/' style=''>PORTFOLIO</a></h3>
		<ul>
		<a href='/portfolio/illustration'><li>&nbsp;• Illustration</li></a>
		<a href='/portfolio/design'><li>&nbsp;• Design</li></a>
		<a href='/portfolio/animation/'><li>&nbsp;• Animation</li></a>
		<a href='/blog/'><li>Blog</li></a>
		</ul>
	</div>
</div>