<div id='menu'>
	<div id='titleBar'>
		<h1><a href='/'>VISUAL <span class='orange'>JOURNALI</span><span class='white'>.</span><span class='orange'>ST</span></a></h1>
		<img src='/images/menu.png' />
	</div>
	<div class='clearIt'></div>
	<ul id='dropdown'>
		<a href='/portfolio/'><li>Portfolio</li></a>
		<a href='/portfolio/illustration'><li>&nbsp;• Illustration</li></a>
		<a href='/portfolio/design'><li>&nbsp;• Design</li></a>
		<a href='/portfolio/animation/'><li>&nbsp;• Animation</li></a>
		<a href='/blog/'><li>Blog</li></a>
		<a href='https://twitter.com/<%= data[0].twitter %>'><li>Twitter</li></a>
		<a href='https://linkedin.com/in/<%= data[0].linkedin %>/en'><li>LinkedIn</li></a>
	</ul>
</div>